@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c9c7c1;
    
}
#header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}


#header img {
    margin-left: 170px;
}

/* Defina o estilo para o corpo da página */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede a barra de rolagem horizontal */
}




/* Estilo para a imagem em diagonal */
.diagonal-image {
    position: absolute;
    top: 0;
    left: 5%; /* Ajuste para posicionar a imagem mais para a direita */
    width: 100%; /* Ajuste para cobrir toda a largura */
    height: 100%;   
    background-image: url('/src/images/GS6A1971.jpg');
    background-size: cover; 
    z-index: -1; 
    filter: blur(3px);
}

button {
    background-color: #302f2f;
    border: none;
    padding: 5px;
    position: relative;
    width: 6.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
  }
  
  button p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #ffffff;
  }
  
  button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  button:hover p {
    left: 0.5em;
    color: #fff
  }
  
  button:hover svg {
    opacity: 1;
  }
  
  button:hover {
    background-color: #25D366;
  }
  

#info {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 150px;
}

#info a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

#info a:hover {
    transform: scale(1.1);
}





main {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    
}

#mid {
    font-family: 'Raleway', sans-serif;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    padding-left: 10px;
    padding-bottom: 150px;
    font-size: 30px;
}


#mid strong {
    color: #909090;
}

#mid-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#secondText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 10px;
}

#secondText p {
    font-size: 22px;
    color: rgb(85, 83, 83);
}

#thirdRow {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

#icons {
    display: flex;
    gap: 2rem;
    margin-left: 10px;
}

#icons a {
    padding: 15px;
    background-color: #ddf0cc;
    border-radius: 5px;
    transition: 0.4s;
}

#icons a:hover {
    transform: scale(1.1);
}

#aboutMe {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
    padding-top: 280px;
    padding-bottom: 350px;
    padding-left: 100px;
    display: flex;
    gap: 10rem;
}

#aboutMe img {
    width: 650px;
}

#aboutText {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-left: 230px;
}

.titles {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
}

#content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#skills {
    padding-bottom: 350px;
    padding-top: 200px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}

#usingNow {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 100px;
    margin-left: 600px;
}

#usingNow strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

#iconsSkills {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-left: 140px;
}

#icons1 i {
    width: 180px;
    font-size: 100px;
    transition: 0.4s;
}

#icons1 i:hover {
    transform: scale(1.07);
}

#icons2 i {
    width: 180px;
    font-size: 100px;
    transition: 0.4s;
}

#icons2 i:hover {
    transform: scale(1.07);
}

#projects {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-bottom: 100px;
}

#cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

#card img {
    width: 450px;
    border-radius: 16px;
    transition: 0.4s;
}

#card img:hover {
    transform: scale(1.07);
}

#button {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 115px;
    border: none;
    border-radius: 33px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.4s;
    margin-left: 865px;
}


#button:hover {
    transform: scale(1.07);
}


footer {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 70px;
    font-size: 14px;
}

#backTop {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

#backTop img {
    width: 15px;
}

#backTop a {
    text-decoration: none;
    color: white;
}

#iconsFooter {
    display: flex;
    gap: 1rem;
}

footer p {
    color: white;
    
}


@media (max-width: 500px) {

    #header {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #header img {
        width: 60px;
    }

    #info {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 0px;
        font-size: 11px;
        margin-left: 22px;
        
    }
    
    #talk a {
        padding: 10px;
        width: 10px;
        border: none;
        border-radius: 33px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }
    
    
    #info a:hover {
        transform: scale(1.07);
    }
    
    
    main {
        box-shadow: 1 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    #mid {
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        padding-left: 10px;
        padding-bottom: 200px;
        font-size: 20px;
    }

    #mid img {
        width: 300px;
    }
    
    #mid strong {
        color: #909090;
    }
    
    #mid-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #firstText {
       text-align: center;
    }

    #secondText {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: center;
    }
    
    #secondText p {
        font-size: 22px;
    }
    
    #thirdRow {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    #icons {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    
    #icons a {
        padding: 15px;
        background-color: #b9b9b9;
        border-radius: 5px;
        transition: 0.4s;
    }
    
    #icons a:hover {
        transform: scale(1.1);
    }
    
    #aboutMe {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        padding-top: 200px;
        padding-bottom: 200px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    #aboutMe img {
        width: 300px;
    }
    
    #aboutText {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-left: 80px;
    }
    
    .titles {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        text-align: center;
    }
    
    #content p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    #skills {
        padding-bottom: 150px;
        padding-top: 150px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    #usingNow {
        display: flex;
        flex-direction: column;
        gap: 7rem;
        margin-top: 100px;
        margin-left: 0px;
    }
    
    #iconsSkills {
        display: flex;
        flex-direction: column;
        gap: 5rem;
       margin-left: 100px;
    }
    
    #icons1 i {
        width: 70px;
        font-size: 50px;
    }


    #icons2 i {
        width: 70px;
        font-size: 50px;
    }
    
    #projects {
        padding-top: 100px;
        padding-bottom:100px;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    #cards {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
    
    #card img {
        width: 340px;
        border-radius: 16px;
        transition: 0.4s;
    }

    #card img:hover {
        transform: scale(1.07);
    }

    
    #button {
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        width: 115px;
        border: none;
        border-radius: 33px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        color: white;
        margin-left: 130px;
    }

    #bMobile {
        padding: 15px;
        background-color: #909090;
        width: 130px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #bMobile a {
        text-decoration: none;
        color: black;
    }

    #mobile button {
        padding: 20px;
        border: none;
        border-radius: 8px;
        background-color: #c2bcbc;
    }   
}

@media (min-width: 900px) and (max-width: 1500px) {
    
    #header img {
        margin-left: 130px;
    }
    
    
    #info {
        margin-right: 50px;
        font-size: 12px;
    }
    
    
    #info {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    

    
    #info a:hover {
        transform: scale(1.07);
    }
    
    main {
        box-shadow: 1 px 10px rgba(0, 0, 0, 0.2);
    }
    
    #mid {
        font-family: 'Raleway', sans-serif;
        display: flex;
        gap: 12rem;
        align-items: center;
        justify-content: center;
        padding-top: 110px;
        padding-left: 10px;
        padding-bottom: 150px;
        font-size: 20px;
    }

    #mid img {
        width: 500px;
    }
    
    #mid strong {
        color: #909090;
    }
    
    #mid-text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    #secondText {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-left: 10px;
    }
    
    #secondText p {
        font-size: 22px;
    }
    
    #thirdRow {
        display: flex;
        flex-direction: column;
        gap: 9rem;
    }
    
    #icons {
        display: flex;
        gap: 2rem;
        margin-left: 20px;
    }
    
    #icons a {
        padding: 15px;
        background-color: #b9b9b9;
        border-radius: 5px;
        transition: 0.4s;
    }
    
    #icons a:hover {
        transform: scale(1.1);
    }
    
    #aboutMe {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: 100px;
        display: flex;
        gap: 10rem;
    }
    
    #aboutMe img {
        width: 450px;
    }
    
    #aboutText {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-left: 200px;
    }
    
    .titles {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        text-align: center;
    }
    
    #content p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    #skills {
        padding-bottom: 150px;
        padding-top: 150px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    #usingNow {
        display: flex;
        flex-direction: column;
        gap: 7rem;
        margin-top: 100px;
        margin-left: 300px;
    }
    
    #iconsSkills {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        margin-left: 160px;
    }
    
    #icons1 i {
        width: 180px;
        font-size: 70px;
    }


    #icons2 i {
        width: 180px;
        font-size: 70px;
    }
    
    #projects {
        padding-top: 100px;
        padding-bottom:100px;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    #cards {
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    
    #card img {
        width: 380px;
        border-radius: 16px;
        transition: 0.4s;
    }

    #card img:hover {
        transform: scale(1.07);
    }

    
    #button {
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        width: 115px;
        border: none;
        border-radius: 33px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        color: white;
        margin-left: 620px;
    }

}
