@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c4c9c6;
    
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}


#header img {
    margin-left: 170px;
}

#aboutMe {
    margin-top: 10px;
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 100px;
    backdrop-filter: blur(10px); 
}


  
  #content {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(189, 187, 187, 0.8); /* Cor de fundo do conteúdo com transparência */
  }
  


#picture img {
    border: 2px solid black;
    transition: 0.3s;
}

#picture img:hover {
    transform: scale(1.07);
}

#aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

#aboutText a {
    padding: 15px;
    box-shadow: 0px 0px 3px 0px black;
    border: none;
    background-color: rgb(51, 55, 52);
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
    text-decoration: none;
}

#aboutText a:hover {
    transform: scale(1.07);
}

#content img {
    width: 86px;
}

#content a {
    background-color: #969494;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Defina o estilo para o corpo da página */





/* Estilo para a imagem em diagonal */
.diagonal-image {
    position: absolute;
    top: 0;
    left: 5%; /* Ajuste para posicionar a imagem mais para a direita */
    width: 94%; /* Ajuste para cobrir toda a largura */
    height: 100%;   
    background-image: url('/src/images/GS6A1971.jpg');
    background-size: cover; 
    z-index: -1; 
    filter: blur(3px);
}



#buttonn {
    background-color: #302f2f;
    border: none;
    padding: 5px;
    position: relative;
    width: 6.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
  }
  
  #buttonn p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #ffffff;
  }
  
  #buttonn svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  #buttonn:hover p {
    left: 0.5em;
    color: #fff
  }
  
  #buttonn:hover svg {
    opacity: 1;
  }
  
  #buttonn:hover {
    background-color: #25D366;
  }
  

#info {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 150px;
}

#info a {
    text-decoration: none;
    color: black;
}

#info strong {
    transition: 0.3s;
}

#info strong:hover {
    transform: scale(1.1);
}




main {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    
}

#mid {
    font-family: 'Raleway', sans-serif;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 215px;
    padding-top: 130px;
    padding-left: 10px;
    padding-bottom: 300px;
    font-size: 30px;
}


#mid strong {
    color: #909090;
}

#mid-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#secondText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 10px;
}

#secondText p {
    font-size: 22px;
    color: rgb(85, 83, 83);
}

#thirdRow {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

#icons {
    display: flex;
    gap: 2rem;
    margin-left: 10px;
}

#icons a {
    padding: 15px;
    background-color: #cbcfc8;
    border-radius: 5px;
    transition: 0.4s;
}

#icons a:hover {
    transform: scale(1.1);
}


  



@media (max-width: 500px) {

    #header {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #header img {
        width: 60px;
    }

    #info {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 0px;
        font-size: 11px;
        margin-left: 22px;
        
    }

    #info img {
        width: 160px;
    }
    
    button {
        display: flex;
        background-color: #302f2f;
        border: none;
        width: 16em;
        height: 3em;
        transition: 0.5s;
        font-size: 13px;
        border-radius: 0.4em;
      }
      
      button p {
        top: 0.85em;
        left: 1.15em;
        margin: 0;
        padding: 0;
        transition: .5s;
        color: #ffffff;
      }

    
    
    #info a:hover {
        transform: scale(1.07);
    }
    
    
    main {
        box-shadow: 1 0px 10px rgba(0, 0, 0, 0.2);
    }

    #info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-right: 0px;
    }
    
    #info a {
        text-decoration: none;
        color: black;
    }
    
    #info strong {
        transition: 0.3s;
    }
    
    #info strong:hover {
        transform: scale(1.1);
    }

    
    #header img {
        margin-left: 0px;
    }
    
    #mid {
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
        gap: 5rem;
        align-items: center;
        margin-left: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-bottom: 250px;
        font-size: 17px;
    }

    #mid button {
        margin-left: 95px;
    }

    #mid img {
        width: 300px;
    }
    
    #mid strong {
        color: #909090;
    }
    
    #mid-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #firstText {
       text-align: center;
    }

    #secondText {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: center;
    }
    
    #secondText p {
        font-size: 22px;
    }
    
    #thirdRow {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    #icons {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    
    #icons a {
        padding: 15px;
        background-color: #343434;
        border-radius: 5px;
        transition: 0.4s;
    }
    
    #icons a:hover {
        transform: scale(1.1);
    }



    #mobile button {
        padding: 20px;
        border: none;
        border-radius: 8px;
        background-color: #c2bcbc;
    } 
    
    .diagonal-image {
        position: absolute;
        top: 0;
        left: -55%; /* Ajuste para posicionar a imagem mais para a direita */
        width: 200%; /* Ajuste para cobrir toda a largura */
        height: 90%;   
        background-image: url('/src/images/GS6A1971.jpg');
        background-size: contain; 
        z-index: -1; 
        filter: blur(3px);
    }


    

      #secondText p {
        color: rgb(234, 234, 234);
      }
      

      #consults {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
      }

      #consults button {
            padding: 12px;
            font-size: 14px;
            text-decoration: none;
            margin-left: 0px;
      }

      #aboutMe {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: none;
        padding: 100px;
        backdrop-filter: blur(10px); 
        font-size: 15px;
    }

    #picture img {
        width: 290px;
    }
    
    
      
      #content {
        position: relative;
        z-index: 1;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(189, 187, 187, 0.8); /* Cor de fundo do conteúdo com transparência */
      }
      
    
}

@media (min-width: 900px) and (max-width: 1500px) {
    
    #header img {
        margin-left: 130px;
    }
    
    
    #info {
        margin-right: 50px;
        font-size: 12px;
    }
    
    
    #info {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    

    
    #info a:hover {
        transform: scale(1.07);
    }
    
    main {
        box-shadow: 1 px 10px rgba(0, 0, 0, 0.2);
    }
    
    #mid {
        font-family: 'Raleway', sans-serif;
        display: flex;
        gap: 7rem;
        align-items: center;
        margin-left: 140px;
        padding-top: 70px;
        padding-left: 0px;
        padding-bottom: 190px;
        font-size: 20px;
    }

    #mid img {
        width: 500px;
    }
    
    #mid strong {
        color: #909090;
    }
    
    #mid-text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    #secondText {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-left: 10px;
    }
    
    #secondText p {
        font-size: 22px;
    }
    
    #thirdRow {
        display: flex;
        flex-direction: column;
        gap: 9rem;
    }
    
    #icons {
        display: flex;
        gap: 2rem;
        margin-left: 10px;
    }
    
    #icons a {
        padding: 15px;
        background-color: #b9b9b9;
        border-radius: 5px;
        transition: 0.4s;
    }
    
    #icons a:hover {
        transform: scale(1.1);
    }

    #content p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    #skills {
        padding-bottom: 150px;
        padding-top: 150px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    #usingNow {
        display: flex;
        flex-direction: column;
        gap: 7rem;
        margin-top: 100px;
        margin-left: 300px;
    }
    
    #iconsSkills {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        margin-left: 160px;
    }
    
    #icons1 i {
        width: 180px;
        font-size: 70px;
    }


    #icons2 i {
        width: 180px;
        font-size: 70px;
    }
    
    #projects {
        padding-top: 100px;
        padding-bottom:100px;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    #cards {
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    
    #card img {
        width: 380px;
        border-radius: 16px;
        transition: 0.4s;
    }

    #card img:hover {
        transform: scale(1.07);
    }

    
    #button {
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        width: 115px;
        border: none;
        border-radius: 33px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        color: white;
        margin-left: 620px;
    }

    #thirdRow {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #header img {
        margin-left: 100px;
    }
}
